/* -- reset_General -- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}



/* -- root variables -- */
:root {
  --container-width: 90%;
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-h1: 2rem;
  --font-h2: 1.75rem;
  --font-h3: 1.5rem;
  --font-h4: 1.25rem;
  --font-body: 1rem;
  --font-small: 0.875rem;
}
/* -- theme -- */
body.light {
  --background: #ffffff;
  --foreground: #171717;
}
body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}
/* -- media queries --*/
@media (min-width: 768px) {
  :root {
    --container-width: 70%;
    --font-h1: 2.5rem;
    --font-h2: 2rem;
    --font-h3: 1.75rem;
    --font-h4: 1.5rem;
    --font-body: 1.0625rem;
    --font-small: 0.875rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --container-width: 50%;
    --font-h1: 3rem;
    --font-h2: 2.5rem;
    --font-h3: 2rem;
    --font-h4: 1.5rem;
    --font-body: 1.125rem;
    --font-small: 0.875rem;
  }
}
@media (min-width: 1280px) {
  :root {
    --container-width: 75%;
    --font-h1: 3.5rem;
    --font-h2: 3rem;
    --font-h3: 2.25rem;
    --font-h4: 1.75rem;
    --font-body: 1.125rem;
    --font-small: 0.9rem;
  }
}

/* -- General -- */

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
h4 {
  font-size: var(--font-h4);
}
p {
  font-size: var(--font-body);
}
.small {
  font-size: var(--font-small);
}





