.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navList {
  display: none;
}

.navButtons {
  display: flex;
  gap: 2rem;
}
.links li a:hover{
  text-decoration: underline;
}

.socialIcons {
  width: 2.5rem;
  fill: var(--foreground);
}
.asideItems {
 display: flex;
 cursor: pointer;
 padding: 1rem;
 position: fixed;
 top: 0.5rem;
 left: 0.5rem;
 z-index: 1;
}

/* @@ MEDIA QUERIES @@ */
@media (min-width: 768px) {
  .nav {
  width: var(--container-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
  .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .navList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
}


/* //// */
.header {
  height: 600vh;
}