.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navList {
  display: none;
}
.nav {
  background-color: var(--background);
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid var(--foreground);
  z-index: 1;
}

.navButtons {
  display: flex;
  gap: 2rem;
}
.links li a:hover{
  text-decoration: underline;
}

.socialIcons {
  width: 2.5rem;
  fill: var(--foreground);
}

/* @@ MEDIA QUERIES @@ */
@media (min-width: 768px) {
  .nav {
  width: var(--container-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  position: initial;
}
  .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .navList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  }
}


/* //// */
.header {
  height: 600vh;
}