.container {
  display: flex;
  align-items: center;
  width: 100%;
}
.svgWorld {
  width: 32px;
  height: 32px;
  stroke: var(--foreground);
}
.activeLanguage {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.InactiveLanguage {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  opacity: 0.5;
}
.InactiveLanguage:hover {
  opacity: 1;
}